PORT=8000
MONGODB_URI=mongodb+srv://jashan301307_db_user:forgetit@cluster0.287pbae.mongodb.net
CORS_ORIGIN =*
ACCESS_TOKEN_SECRET =jashan-backend
ACESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=jas-backend
REFRESH_TOKEN_EXPIRY=10d


CLOUDINARY_CLOUD_NAME =
CLOUDINARY_API_KEY=
CLOUDINAR_API_SECRET=